@charset "UTF-8"; 

body{
    margin:0;
    padding: 0;
    background-color:#FFFFFF; 
    text-align: center;
    font-weight: lighter;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background: transparent; 
}

body::-webkit-scrollbar-thumb{
    background:#ebb7b7; 
}

.content{
    margin-left: 7%;
}

.back{
    position: absolute; 
    width:50px; 
    height:50px;
    margin-left: 5vh;
}

#loading{float: left; margin-top: 10vh; margin-left: 30vh; font-family: 'Manrope', sans-serif; font-size: 1.2rem;}

.txt{margin-left: 4vh; margin-top: 1vh; color: #d8c7c0; text-align: left; float: left;}
.arrow{color: #d8c7c0; margin-right: 2vh; text-align: left; float: right; font-size: 3rem;}
.divHov{background-color: #FFFFFF;  border: 1px solid #d8c7c0;}

.divHov:hover {background-color: #d8c7c0;  color: #FFFFFF;}
.divHov:hover .txt { color: #FFFFFF;}
.divHov:hover .arrow { color: #FFFFFF;}

#current{color:#454545; text-decoration: none;}

img{width: 100%; height: 100%; }

/* HEADER */
#header1{margin-left: 90%; margin-top: 2vh;}
#header2{margin-top: 0vh; margin-bottom: 0vh;}

#headerName{text-align: center; font-size:55px; color:#ebb7b7; font-family: 'adobe-handwriting-ernie', sans-serif; }

/* HOME */
#home1{background-color:#FFFFFF; max-width: 100%; height: 65vh;}
    #home1_1{float: left; width: 55%; height: 65vh;}
        #home1_1_1{position: absolute; float: left; width: 46%; height: 58vh;}
        #home1_1_2{background-color:#DBDBDB; float: left; width: 90%; height: 58vh; margin-top: 1vh; margin-left: 1vh;}
    #home1_2{float: left; width: 35%; margin-top: 20vh; height: 35vh;}
    #home1_3{float: right; width: 10%; height: 45vh; margin-top:20vh }

#home2{background-color:#fcdfda; max-width: 100%; height: 80vh;}
    #home2_1{float: left; width: 33%; height: 80vh;}
        #home2_1_1{float: left; width: 100%; height: 10vh; margin-top: 20vh;}
        #home2_1_2{background-color:#FFFFFF; float: left; width: 100%; height: 30vh; margin-top: 0vh;}
            #home2_1_2_1{float: left; width: 80%; height: 10vh; margin-top: 5vh; margin-left: 5vh}
            #home2_1_2_2{border: 1px solid #b31925; border-style: solid; float: left; width: 50%; margin-top: 5vh; margin-left: 5vh; height: 5vh;}
    #home2_2{float: left; width: 55%; height: 42vh; margin-top: 20vh; margin-left: 15vh}

#home3{background-color:#FFFFFF; max-width: 100%; height: 80vh;}
    #home3_1{float: left; width: 53%; height: 70vh; margin-top: 10vh}
        #home3_1_1{position: absolute; float: left; width: 47%; height: 58vh;}
        #home3_1_2{background-color:#DBDBDB; float: left; width: 96%; height: 58vh; margin-top: 1vh; margin-left: 1vh;}
    #home3_2{float: left; width: 40%; height: 80vh;}
        #home3_2_1{float: left; width: 100%; height: 15vh; margin-top: 28vh; margin-left: 3vh}
        #home3_2_2{float: left; width: 40%; height: 5vh; margin-top: 3vh; margin-left: 3vh}

#home4{background-color: #ddebf6; max-width: 100%; height: 80vh;}
    #home4_1{float: left; width: 45%; height: 80vh;}
        #home4_1_1{float: left; width: 50%; height: 15vh; margin-top: 33vh; margin-left: 32vh;}
        #home4_1_2{float: left; width: 40%; height: 5vh; margin-top: 2vh; margin-left: 32vh;}
    #home4_2{float: left; width: 55%; height: 70vh; margin-top: 10vh}
        #home4_2_1{position: absolute; float: left; width: 46%; height: 58vh;}
        #home4_2_2{background-color:#bdbdbd; float: left; width: 90%; height: 58vh; margin-top: 1vh; margin-left: 1vh;}

#home1Head{margin-top: 2vh; margin-bottom: 6vh;}

#home2Head{font-size: 5.5rem; color: #352f53}
#home2Txt{font-size: 3rem;}
#home2Txt2{margin-top: 1vh; color: #b31925; margin-left: 2vh; text-align: left; float: left;}
#home2Arrow{color: #b31925; margin-right: 2vh; text-align: right; float: right; font-size: 3rem;}

#home3Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 3vh; color: #dc8c8b}

#home4Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 3vh; }

/* PROJECTS */
#proj1{background-color: #e6e6e6; max-width: 100%; height: 65vh; margin-bottom: 20vh;}
    #proj1_1{float: left; width: 55%; height: 65vh; margin-left: 2vh;} 
    #proj1_2{background-color: #FFFFFF; float: left; position: absolute; width: 40%; height: 30vh; margin-left: 46%; margin-top: 40vh;}
        #proj1_2_1{float: left; width: 50%; height: 35vh; margin-left: 4vh; margin-top: 4vh;}
        #proj1_2_2{float:left; width: 40%; height: 5vh; margin-top: 20vh; margin-left: 0vh}

#proj2{background-color: #ddebf6; max-width: 100%; height: 65vh; margin-bottom: 20vh;}
    #proj2_1{background-color: #FFFFFF; float: left; position: absolute; width: 40%; height: 30vh; margin-top: 35vh;}
        #proj2_1_1{float: left; width: 50%; height: 35vh; margin-left: 6vh; margin-top: 6vh;}
        #proj2_1_2{float:left; width: 40%; height: 5vh; margin-top: 20vh; margin-left: 0vh}
    #proj2_2{float: right; width: 78%; height: 47vh; margin-right: 10vh; margin-top: 10vh;}

#proj3{background-color: #fcdfda; max-width: 100%; height: 70vh; margin-bottom: 10vh;}
    #proj3_1{float: left; width: 60%; height: 70vh; margin-left: 2vh;} 
    #proj3_2{background-color: #FFFFFF; float: left; position: absolute; width: 40%; height: 30vh; margin-left: 46%; margin-top: 40vh;}
        #proj3_2_1{float: left; width: 50%; height: 35vh; margin-left: 4vh; margin-top: 4vh;}
    #proj3_2_2{float:left; width: 40%; height: 5vh; margin-top: 20vh; margin-left: 0vh}

#proj1Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 2vh; color: #405761}

#proj2Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 2vh; color: #993233}

#proj3Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 2vh; color: #405761}

#projFill{background-color: #efefef; width: 12%; height: 65vh; position: absolute;}

/* DESIGNPRINCIPLES */
#design1{background-color:#FFFFFF; max-width: 100%; height: 50vh;}
    #design1_1{float: left; width: 30%; height: 45vh; margin-left: 10vh;}
    #design1_2{float: left; width: 50%; height: 25vh; margin-left: 5vh;}
    #design1_3{float: left; width: 18%; height: 20vh; margin-left: 5vh}
    #design1_4{float: left; width: 18%; height: 20vh; margin-left: 5vh}

#design2{background-color:#FFFFFF; max-width: 100%; height: 60vh;}
    #design2_1{float: left; width: 25%; height: 25vh; margin-left: 15vh;}
    #design2_2{float: left; width: 25%; height: 25vh; margin-left: 5vh;}
    #design2_3{float: left; width: 25%; height: 25vh; margin-left: 5vh;}
    #design2_4{float: left; width: 25%; height: 25vh; margin-left: 15vh; margin-top: 5vh}
    #design2_5{float: left; width: 25%; height: 25vh; margin-left: 5vh; margin-top: 5vh}
    #design2_6{float: left; width: 25%; height: 25vh; margin-left: 5vh; margin-top: 5vh}

#design1Head{font-size: 4rem; margin-top: 0vh; margin-bottom: 2vh; color: #405761}     

#designIcon{position: absolute; width:50px; height:50px; margin-left: 90%;}

/* ABOUT/CONTACT */
#aboutHead{font-size: 3.5rem;margin-bottom:2.5vh;}
.icons{float:left;width: 40px; height: 40px; margin-right: 10px;}
.iconscontact{width: 40px; height: 40px; margin-right: 10px;margin-bottom: 3.6vh;}
#about1{max-width: 100%; height: 80vh;}
    #about_photo{float: left; width: 26%; height: 60vh;background-color:#FFFFFF; margin-left:vh;}
    #about_BG{background-color:#FFFFFF; float: left; width: 67%; height: 60vh;}
        #about_text{margin-left: 10vh; margin-top: 4vh; line-height: 1.7;}
        #about_icons{float: left; width: 50%; height: 5vh; margin-left:10vh;margin-top: 1vh;}
#contact{background-color:white; max-width: 100%; height: 80vh;}
    #contact_background{float:left; background-color: #ddebf6;width:50%;height:60vh;margin-top:10vh;}
    #socials{float:left; margin-left: 5vh; margin-top: 0.5vh;}
    #contact_text{width: 90%; height: 30vh;float:left; margin-left: 5vh; margin-top: 5vh;}
    #contact_icons{float:left; width: 5%; margin-left: 5vh;margin-top:0vh;}
    #contact_photo{float:right;width:30%; height:60vh; transform: rotate(-10deg);margin-right: 30vh;margin-top:12vh;}

/* SHOP */
#shop1{max-width: 100%; height: 60vh; margin-bottom: 5vh;}
    #shop1_1{float: left; height: 60vh; width: 29%;}
    #shop1_2{float: left; height: 60vh; width: 29%;; margin-left: 2.5%}
    #shop1_3{float: left; height: 60vh; width: 29%;; margin-left: 2.5%}

#itemName{font-size: 35pt; text-align: center; color:#ebb7b7; }
#itemPrice{font-size: 25pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; margin-top: -3vh;}

/* PRODUCT */
#product1{max-width: 100%; height: 60vh; margin-bottom: 5vh;}
    #product1_1{float: left; height: 60vh; width: 43%;}
    #product1_2{float: left; height: 60vh; width: 43%;}

#productPic{width:50%; height:50vh; margin-left: 25%;}
#productName{font-size: 50pt; text-align: left; color:#ebb7b7; }
#productPrice{font-size: 20pt; font-family: 'Manrope', sans-serif; text-align: left; color:#000000; margin-top: -3vh;}
#productDesc{font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: left; color:#000000; margin-top: 15vh;}
#productButton{float: left; background-color:#ffffff; height: 3vh; width: 43%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; 
                margin-top: 2vh; border-radius: 2vh; border-width: thin;}
#productButton:hover{
    background-color: #d8c7c0;
}

/* LOGIN */
#login1_1{width:15%; height:50vh; margin-left: 42.5%; margin-top: -5vh;}

#loginHead{font-size: 50pt; text-align: center; color:#ebb7b7;}
#loginErr{font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#ff0000;}
#loginMail{font-size: 12pt; font-family: 'Manrope', sans-serif; text-align: left; color:#000000; margin-top: 0vh; }
#loginPw{font-size: 12pt; font-family: 'Manrope', sans-serif; text-align: left; color:#000000; margin-top: 4vh; }
.loginInput{font-size: 12pt; font-family: 'Manrope', sans-serif; text-align: left; color:#000000; margin-top: 0vh; width: 100%; border-top: none; border-right: none; border-left: none; border-width: thin;}
#loginCreate{font-size: 10pt; font-family: 'Manrope', sans-serif; text-align: left; color:#707070; margin-top: 2vh; }
#loginCreate:hover{ color: #d8c7c0;}
#loginButton{font-family: 'Manrope', sans-serif; background-color:#ddebf6; height: 3vh; width: 100%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; 
                margin-top: 5vh; border-radius: 2vh; border-width: thin;}
#loginButton:hover{ background-color: #d8c7c0; }

/* PROFILE */
#profile1_1{width:15%; height:50vh; margin-left: 42.5%; margin-top: -5vh;}

#profileHead{font-size: 50pt; text-align: center; color:#ebb7b7;}
#profileButton{font-family: 'Manrope', sans-serif; background-color:#ddebf6; height: 3vh; width: 100%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; 
    margin-top: 5vh; border-radius: 2vh; border-width: thin;}
#profileButton:hover{ background-color: #d8c7c0; }

/* CART */
#cart1{width: 25%; min-height: 50vh; margin-left: 37.5%; margin-top: -5vh;}
#cart1_1{width: 100%; height: 1vh; margin-left: 0; margin-top: 0; border: #b6b5b5; border-style: solid; border-width: thin; border-top: none; border-left: none; border-right: none;}

#cartHead{font-size: 50pt; text-align: center; color:#ebb7b7;}
#cartTotal{float:left; font-size: 20pt; text-align: center; color:#000000; width: 45%; margin-left: 55%; margin-top: 3vh;}
#cartContinue{float: left; font-size: 12pt; font-family: 'Manrope', sans-serif; text-align: center; color:#707070; width: 45%; margin-top: 3vh;}
#cartContinue:hover{ color: #d8c7c0;}
#cartButton{float: left; font-family: 'Manrope', sans-serif; background-color:#a9c57b; height: 3vh; width: 45%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#ffffff; 
    margin-top: 3vh; margin-left: 10%; border-radius: 2vh; border-width: thin;}
#cartButton:hover{background-color: #96ad70;}

/* ITEM */
.cartItem{width: 100%; height: 7vh; margin-left: 0; margin-top: 0; margin-bottom: 3vh;}
.cartFil{width: 100%; height: 6vh; margin-left: 0; margin-top: 0; }
.cartItemQuant{float:left; font-size: 12pt; text-align: center; color:#000000; width: 10%; margin-top: 2.5vh; margin-left: 0;}
.cartItemImg{float:left; width:10%; height:6vh; margin-top: 0.5vh; margin-left: 2.5%;}
.cartItemName{float:left; font-family: 'Manrope', sans-serif; font-size: 12pt; text-align: center; color:#000000; width: 10%; margin-top: 2.5vh; margin-left: 4%;}
.cartItemPrice{float:left; font-size: 12pt; text-align: center; color:#000000; width: 5%; margin-top: 2.5vh; margin-left: 45%;}
.cartItemRemove{float:left; font-size: 15pt; text-align: center; color:#000000; width: 5%; margin-top: 2.5vh; margin-left: 5%;}
.cartItemRemove:hover{color: #ff0000;}

/* ADD */
#Add1_1{width:15%; height:50vh; margin-left: 42.5%; margin-top: -5vh;}

#AddHead{font-size: 50pt; text-align: center; color:#ebb7b7;}
#AddButton{font-family: 'Manrope', sans-serif; background-color:#ddebf6; height: 3vh; width: 100%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; 
    margin-top: 5vh; border-radius: 2vh; border-width: thin;}
#AddButton:hover{ background-color: #d8c7c0; }
#AddCartButton{font-family: 'Manrope', sans-serif; background-color:#ddebf6; height: 3vh; width: 100%; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#000000; 
    margin-top: 5vh; border-radius: 2vh; border-width: thin;}
#AddCartButton:hover{ background-color: #d8c7c0; }

/* CHECKOUT */
#checkout1{width: 25%; min-height: 50vh; margin-left: 37.5%; margin-top: -5vh;}
#checkoutHead{font-size: 50pt; text-align: center; color:#ebb7b7;}
#checkoutContinue{float: left; font-size: 15pt; font-family: 'Manrope', sans-serif; text-align: center; color:#707070; width: 100%; margin-top: 20vh;}
#cartContinue:hover{ color: #d8c7c0;}

/* FOOTER */
#footerDiv{background-color: #fcdfda;}
#footerName{font-family: 'adobe-handwriting-ernie', sans-serif; text-align: center; font-size:30px; margin-top: -2vh;}
#footerTxt{font-size:15px; text-align: center;}

#footerCon{font-size:1rem; font-family: 'Manrope', sans-serif; color: #707070; margin-right: 10px;}
#insta{width:38px; height:38px; margin-right: 10px;}
#artstation{width:38px; height:38px;}
#login{width:30px; height:30px; margin-right: 20px;}
#cart{width:30px; height:30px;}

#poster{width:75%; height:50vh; border-radius: 1vh;}
#sticker{width:75%; height:50vh; border-radius: 1vh;}
#postcard{width:75%; height:50vh; border-radius: 1vh;}
#headshot{width:75%; height:50vh; border-radius: 1vh; border: #000000; border-style: solid; border-width: thin;}
#waistup{width:75%; height:50vh; border-radius: 1vh; border: #000000; border-style: solid; border-width: thin;}
#emotes{width:75%; height:50vh; border-radius: 1vh; border: #000000; border-style: solid; border-width: thin;}

/* GENERIC */
p {
    font-family: 'Unica One', cursive;
    font-size: 6rem;
    color: #707070;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0h;
}

article {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    color: #707070;
    text-align: left;
    opacity: 0.8;
}

b {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

a {
    color:#BFBFBF;
    text-decoration: none;
}

/* GRID */

.header { grid-area: header; margin-top: 1vh; margin-bottom: 0vh;}
.nav { grid-area: nav; margin-top: -5vh; list-style-type:none; font-size:20px; font-family: 'Manrope', sans-serif; }
.main { grid-area: main; margin-top: 15vh; min-height: 60vh}
.footer { grid-area: footer; margin-top: 10vh}

b.nav {
    font-size:25px; margin-left: 2vh; margin-right: 2vh; font-family: arial; color:#adadad; font-weight:lighter;
}

.grid-container {
    display: grid;
    grid-template-areas:
          'header'
          'nav'
          'main'
          'footer';
    grid-gap: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
}